<div class="notepad-container">
  <div class="notepad-header">
    <div class="row">
      <div class="col col-4"></div>
      <div class="col header-text">
        <h4>Notes</h4>
      </div>
      <div class="col col-4">
        <button name="new" class="btn btn-secondary" (click)="newNote()">New</button>
        <button name="new" class="btn btn-secondary" (click)="deleteNote()">Delete</button>
      </div>
    </div>
  </div>
  <div class="notepad-body">
    <div class="row">
      <div class="col">
        <div class="sidebar">
          <div class="sidebar-note" *ngFor="let note of notes" (click)="selectNote(note)" [class.selected]="note == currNote">
            <h4>{{note.title}}<span class="date">{{formatDate(note.time)}}</span></h4>
            <p>{{note.body.substring(0, 20).trim()}}<span *ngIf="note.body.length>20">...</span></p>
          </div>
        </div>
      </div>
      <div class="col col-9">
        <div class="notepad-main">
          <input type="text" name="title" [(ngModel)]="currNote.title" (ngModelChange)='updateNote($event)'>
          <textarea class="form-control" [(ngModel)]="currNote.body" (ngModelChange)='updateNote($event)'>{{currNote.body}}</textarea>
        </div>
      </div>
    </div>
  </div>
</div>
