<md-sidenav-container>
  <md-toolbar color="primary">
    <div class="title">Quick Note</div>
    <button type="button" md-icon-button (click)="deleteNote()"><md-icon>delete</md-icon></button>
    <button type="button" md-icon-button (click)="sidenav.toggle()"><md-icon>menu</md-icon></button>
  </md-toolbar>
  <div class="notepad-container">
    <md-input-container>
      <input mdInput type="text" name="title" [(ngModel)]="currNote.title" (ngModelChange)='updateNote($event)'>
    </md-input-container>
    <md-input-container class="note-body">
      <textarea mdInput mdTextareaAutosize [(ngModel)]="currNote.body" (ngModelChange)='updateNote($event)'>{{currNote.body}}</textarea>
    </md-input-container>
  </div>
  <md-sidenav #sidenav mode="over" align="end" opened="false">
    <md-nav-list>
      <h3 md-subheader>Notes</h3>
      <md-list-item *ngFor="let note of notes" class="sidebar-note" (click)="selectNote(note); sidenav.close();" [class.selected]="note == currNote">
        <h4 md-line>{{note.title}}</h4>
        <span md-line class="date">{{formatDate(note.time)}}</span>
      </md-list-item>
      <md-list-item class="sidebar-note" (click)="newNote(); sidenav.close();">
        <h4 md-line>New Note +</h4>
      </md-list-item>
    </md-nav-list>
  </md-sidenav>
</md-sidenav-container>

<!-- <div class="notepad-container">
  <div class="notepad-header">
    <div class="row">
      <div class="col col-4"></div>
      <div class="col header-text">
        <h4>Notes</h4>
      </div>
      <div class="col col-4">
        <button name="new" class="btn btn-secondary" (click)="newNote()">New</button>
        <button name="new" class="btn btn-secondary" (click)="deleteNote()">Delete</button>
      </div>
    </div>
  </div>
  <div class="notepad-body">
    <div class="row">
      <div class="col">
        <div class="sidebar">
          <div class="sidebar-note" *ngFor="let note of notes" (click)="selectNote(note)" [class.selected]="note == currNote">
            <h4>{{note.title}}<span class="date">{{formatDate(note.time)}}</span></h4>
            <p>{{note.body.substring(0, 20).trim()}}<span *ngIf="note.body.length>20">...</span></p>
          </div>
        </div>
      </div>
      <div class="col col-9">
        <div class="notepad-main">
          <input type="text" name="title" [(ngModel)]="currNote.title" (ngModelChange)='updateNote($event)'>
          <textarea class="form-control" [(ngModel)]="currNote.body" (ngModelChange)='updateNote($event)'>{{currNote.body}}</textarea>
        </div>
      </div>
    </div>
  </div>
</div> -->
