.title{
  flex-grow: 1;
}

md-input-container{
  width: 100%;
}

.note-body{
  flex-grow: 1;
}

note-list{
  width: 100%;
  border-right: rgba(0,0,0,0.12) 1px solid;
}

.notepad-container{
  display: flex;
  flex-direction: row;
}

.desktop-sidebar{
  display: none
}

.editor{
  flex-grow: 8;
  display: flex;
  flex-direction: column;
  margin: 0 16px;
}

@media (min-width: 601px){
  .notepad-container{
    min-height: 600px;
    border-bottom: rgba(0,0,0,0.12) 1px solid;
  }
  .desktop-sidebar{
    display:flex;
    flex-grow: 1
  }
  .menu-btn{
    display:none;
  }
}
