<md-sidenav-container>
  <md-toolbar color="primary">
    <div class="title">Quick Note</div>
    <button type="button" md-icon-button (click)="deleteNote()"><md-icon>delete</md-icon></button>
    <button type="button" md-icon-button class="menu-btn" (click)="sidenav.toggle()"><md-icon>menu</md-icon></button>
  </md-toolbar>
  <div class="notepad-container">
    <div class="desktop-sidebar">
      <note-list [notes]='this.notes' [currNote]='this.currNote' (onNotePicked)="selectNote($event); sidenav.close();"></note-list>
    </div>
    <div class="editor">
      <md-input-container>
        <input mdInput type="text" name="title" placeholder="Title" [(ngModel)]="currNote.title" (ngModelChange)='updateNote($event)'>
      </md-input-container>
      <md-input-container class="note-body">
        <textarea mdInput mdTextareaAutosize placeholder="Note" [(ngModel)]="currNote.body" (ngModelChange)='updateNote($event)'>{{currNote.body}}</textarea>
      </md-input-container>
    </div>
  </div>
  <md-sidenav #sidenav mode="over" align="end" opened="false">
    <note-list [notes]='this.notes' [currNote]='this.currNote' (onNotePicked)="selectNote($event); sidenav.close();"></note-list>
  </md-sidenav>
</md-sidenav-container>

<!-- <div class="notepad-container">
  <div class="notepad-header">
    <div class="row">
      <div class="col col-4"></div>
      <div class="col header-text">
        <h4>Notes</h4>
      </div>
      <div class="col col-4">
        <button name="new" class="btn btn-secondary" (click)="newNote()">New</button>
        <button name="new" class="btn btn-secondary" (click)="deleteNote()">Delete</button>
      </div>
    </div>
  </div>
  <div class="notepad-body">
    <div class="row">
      <div class="col">
        <div class="sidebar">
          <div class="sidebar-note" *ngFor="let note of notes" (click)="selectNote(note)" [class.selected]="note == currNote">
            <h4>{{note.title}}<span class="date">{{formatDate(note.time)}}</span></h4>
            <p>{{note.body.substring(0, 20).trim()}}<span *ngIf="note.body.length>20">...</span></p>
          </div>
        </div>
      </div>
      <div class="col col-9">
        <div class="notepad-main">
          <input type="text" name="title" [(ngModel)]="currNote.title" (ngModelChange)='updateNote($event)'>
          <textarea class="form-control" [(ngModel)]="currNote.body" (ngModelChange)='updateNote($event)'>{{currNote.body}}</textarea>
        </div>
      </div>
    </div>
  </div>
</div> -->
